<h4><%= @commontator_name %>'s <%= @thread.config.comment_name %> on <%= @commontable_name %> #<%= @commontable_id %>:</h4>

<%= render :partial => 'commontator/comments/body',
           :locals => { :comment => @comment } %>

<p>To visit this thread, <a href="<%= @thread_url %>">click here</a>.</p>
