<h4><%= @commontator_name %>'s <%= @thread.config.comment_name %> on <%= @commontable_name %> #<%= @commontable_id %></h4>

<pre style="white-space: pre-wrap;
            white-space: -moz-pre-wrap !important;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;"><%= @comment.body %></pre>

<p>Please use the links below to reply to this message:</p>

<p><%= link_to "Visit " + @commontable_name, @commontable %></p>
<p><%= link_to "View " + @thread.config.comment_name.pluralize + " on " + @commontable_name, @thread %></p>
<p><%= link_to "Post a new " + @thread.config.comment_name, new_thread_comment(@thread) %></p>
<p><%= link_to "Unsubscribe from this thread", unsubscribe_thread(@thread) %></p>
