<% # Clients of this partial are expected to supply the following variables:
   # comment
   # user
%>

<% can_edit = comment.can_be_edited_by?(user)
   can_remove = comment.can_be_removed_by?(user)
   enable_votes = comment.can_be_voted_on?
   can_vote = comment.can_be_voted_on_by?(user) %>
  
<div id="comment_<%= comment.id.to_s %>_div" class="comment" style="clear:both">                 
  <span id="comment_<%= comment.id.to_s %>_commontator_span" class="comment_commontator">
    <%= link_to commontator_name(comment), comment.commontator %>
    &nbsp;&nbsp;
    <span id="comment_<%= comment.id.to_s %>_timestamp_span" class="comment_timestamp">
      <%= comment_timestamp(comment) %>
    </span>
  </span>
  
  <span id="comment_<%= comment.id.to_s %>_actions_span" class="comment_actions">
    
    <% if can_edit %>
      <%= link_to 'Edit', edit_comment_path(comment),
                          :id => "edit_comment_#{comment.id.to_s}_link",
                          :class => "edit_comment_link",
                          :remote => true %>
    <% end %>&nbsp;
    
    <% if can_remove %>
      <%= link_to('Remove', comment, 
                  :confirm => 'Are you sure you want to remove this ' + @thread.config.comment_name + '?', 
                  :method => :delete,
                  :id => "remove_comment_#{comment.id.to_s}_link",
                  :class => "remove_comment_link",
                  :remote => true) %>
    <% end %>
    
  </span>
  
  <br clear="all"/>
  
  <span id="comment_<%= comment.id.to_s %>_profile_picture_span" class="comment_profile_picture">
    <%= gravatar_image comment.creator %>
  </span>

  <div id="comment_<%= comment.id.to_s %>_body_div" class="comment_body">
    <%= render :partial => 'comments/body',
               :locals => {:comment => comment} %>
  </div>

  <% if enable_votes %>
    <div id="comment_<%= comment.id.to_s %>_votes_div" class="comment_votes">
      <%= render :partial => 'comments/votes',
                 :locals => {:comment => comment} %>
    </div>
  <% end %>&nbsp;
</div>

<br clear="all"/>
