<%
  # Controllers that use this partial must supply the following variables:
  # user
  # comment
  # children
  # show_all
%>

<%
  creator = comment.creator
  name = Commontator.commontator_name(creator) || ''
  link = Commontator.commontator_link(creator, main_app) || ''
  avatar = Commontator.commontator_avatar(creator, self) || ''
%>

<div id="commontator-comment-<%= comment.id %>-section-top" class="section top">
  <span id="commontator-comment-<%= comment.id %>-author" class="author">
    <%= link.blank? ? name : link_to(name, link) %>
  </span>

  <span id="commontator-comment-<%= comment.id %>-actions" class="actions">
    <%= render partial: 'commontator/comments/actions',
               locals: { comment: comment, user: user } %>
  </span>
</div>

<div id="commontator-comment-<%= comment.id %>-section-middle" class="section middle">
  <span id="commontator-comment-<%= comment.id %>-avatar" class="avatar">
    <%= avatar %>
  </span>

  <span id="commontator-comment-<%= comment.id %>-votes" class="votes">
    <%= render partial: 'commontator/comments/votes', locals: { comment: comment, user: user } %>
  </span>

  <div id="commontator-comment-<%= comment.id %>-body" class="body">
    <%= render partial: 'commontator/comments/body', locals: { comment: comment } %>
  </div>
</div>

<div id="commontator-comment-<%= comment.id %>-section-bottom" class="section bottom">
  <% unless comment.is_deleted? %>
    <span id="commontator-comment-<%= comment.id %>-reply" class="reply">
      <%= render partial: 'commontator/comments/reply', locals: { comment: comment, user: user } %>
    </span>
  <% end %>

  <span id="commontator-comment-<%= comment.id %>-created-timestamp" class="timestamp">
    <%= comment.created_timestamp %>
  </span>

  <span id="commontator-comment-<%= comment.id %>-updated-timestamp" class="timestamp">
    <%= comment.updated_timestamp if comment.is_modified? %>
  </span>
</div>

<% unless children.empty? %>
  <div class="children">
    <%= render partial: 'commontator/comments/list',
               locals: { nested_comments: children, user: user } %>
  </div>
<% end %>
