<%#
  Views that use this partial must supply the following variables:
  thread
  user
  per_page
%>

<div id="thread-<%= thread.id %>-reply" class="thread-reply">
  <% if thread.is_closed? %>
    <p><%= t 'commontator.thread.status.cannot_post' %></p>
  <% elsif !user %>
    <p><%= t 'commontator.require_login' %>.</p>
  <% else %>
    <div id="thread-<%= thread.id %>-new-comment-form-div" class="thread-new-comment-form<%=
    @commontator_new_comment.nil? ? ' commontator-hidden' : '' %>">
      <% unless @commontator_new_comment.nil? %>
        <%=
          render partial: 'commontator/comments/form', locals: {
            comment: @commontator_new_comment, thread: thread, per_page: per_page
          }
        %>
      <% end %>
    </div>

    <% if @commontator_new_comment.nil? %>
      <div id="thread-<%= thread.id %>-new-comment-link-div" class="thread-new-comment-link">
        <%= link_to t('commontator.comment.actions.new'),
            commontator.new_thread_comment_path(thread, per_page: per_page),
            remote: true %>
      </div>
    <% end %>
  <% end %>
</div>
