<% # Clients of this partial must supply the following variables:
   # thread
   # user
   # per_page

   display_new_comment_form = thread.config.new_comment_style == :t %>

<div id="thread_<%= thread.id %>_reply" class="thread_reply">
  <% if thread.is_closed? %>
    <p><%= t 'commontator.thread.status.cannot_post' %></p>
  <% elsif !user %>
    <p><%= t 'commontator.require_login' %>.</p>
  <% else %>
    <div id="thread_<%= thread.id %>_new_comment_form_div" class="thread_new_comment_form<%=
    ' hidden' unless display_new_comment_form %>">
      <% if display_new_comment_form %>
        <%= render :partial => 'form',
                   :locals => { :comment => Comment.new,
                                :thread => thread,
                                :per_page => per_page } %>
      <% end %>
    </div>

    <% unless display_new_comment_form %>
      <div id="thread_<%= thread.id %>_new_comment_link_div" class="thread_new_comment_link">
        <%= link_to t('commontator.comment.actions.new'),
            commontator.new_thread_comment_path(thread, :per_page => per_page),
            :remote => true %>
      </div>
    <% end %>
  <% end %>
</div>
