<% # Clients of this partial must supply the following variable:
   # thread
   #
   # Additionally, they can override the following variable:
   hidden ||= false
%>

<div id="thread_<%= thread.id %>_div" class="thread">

  <% if hidden %>
  
    <%= link_to thread, :remote => true %>
  
  <% else %>

    <span id="thread_<%= thread.id %>_header_span" class="thread_header">
      <%= thread.config.comment_name.capitalize.pluralize %>
    </span>

    <div id="thread_<%= thread.id %>_comment_list_div" class="thread_comment_list">
      <% thread.comments.each do |comment| %>
        <%= render :partial => 'comments/show',
                   :locals => {:comment => comment} %>
      <% end %>
    </div>

    <div id="thread_<%= thread.id %>_new_comment_div" class="thread_new_comment"></div>

    <span id="thread_<%= thread.id %>_new_comment_link_span" class="thread_new_comment_link">
      <%= link_to thread.config.comment_create_verb_present.capitalize + ' ' + thread.config.comment_name,
          new_thread_comment(thread), :remote => true %>
    </span>
  
  <% end %>

</div>
