<% # Clients of this partial must supply the following variable:
   # thread
%>

<span id="thread_<%= thread.id %>_header_span" class="thread_header">
  <%= thread.config.comment_name.capitalize.pluralize %>
</span>

<div id="thread_<%= thread.id %>_comment_list_div" class="thread_comment_list">
  <% thread.comments.each do |comment| %>
    <% next if comment.is_deleted? && !thread.config.deleted_comments_are_visible %>
    <%= render :partial => 'comments/show',
               :locals => {:comment => comment} %>
  <% end %>
</div>

<% unless thread.is_closed? %>

  <div id="thread_<%= thread.id %>_new_comment_div" class="thread_new_comment"></div>

  <span id="thread_<%= thread.id %>_new_comment_link_span" class="thread_new_comment_link">
    <%= link_to thread.config.comment_create_verb_present.capitalize + ' ' + thread.config.comment_name,
        new_thread_comment(thread), :remote => true %>
  </span>
  
<% end %>
