<% # Clients of this partial must supply the following variables:
   # thread
   # user
%>

<% can_subscribe = thread.can_subscribe?(user) %>
<% can_edit = thread.can_be_edited_by?(user) %>

<span id="thread_<%= thread.id.to_s %>_header_span" class="thread_header">
  <%= t "thread.status.#{thread.is_closed? ? 'closed' : 'open'}" %>
</span>

<span id="thread_<%= thread.id.to_s %>_actions_span" class="thread_actions">
  <% if can_subscribe %>
    <span id="thread_<%= thread.id.to_s %>_subscription_span" class="thread_subscription">
      <%= render :partial => 'commontator/subscriptions/link',
                 :locals => {:thread => thread,
                             :user => user} %>
    </span>
  <% end %>
  
  &nbsp;

  <% if can_edit %>
    <% is_closed = thread.is_closed? %>
    <% close_string = is_closed ? "reopen" : "close" %>
    <%= link_to t("thread.actions.#{close_string}"),
                commontator.polymorphic_path([close_string, thread]),
                :confirm => (!is_closed ? t('thread.confirm_close') : nil),
                :method => :put,
                :id => "thread_#{thread.id.to_s}_#{close_string}_link",
                :class => "thread_#{close_string}_link",
                :remote => true %>
  <% end %>
</span>

<div id="thread_<%= thread.id.to_s %>_comment_list_div" class="thread_comment_list">
  <%= render :partial => 'commontator/comments/list',
             :locals => {:comments => thread.ordered_comments,
                         :user => user} %>
</div>

<% if thread.is_closed? %>
  <p><%= t 'thread.status.closed_by' %></p>
<% elsif !user %>
  <p><%= t 'user.require_login' %>.</p>
<% else %>
  <div id="thread_<%= thread.id %>_new_comment_div" class="thread_new_comment"></div>

  <span id="thread_<%= thread.id %>_new_comment_link_span" class="thread_new_comment_link">
    <%= link_to t('comment.actions.new'),
        commontator.new_thread_comment_path(thread), :remote => true %>
  </span>
<% end %>
